<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" device-width="1" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        .levels {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .answer {
            padding: 30px;
        }
        hr {
            color: white;
            width: 100vw;
        }
    </style>
  </head>
  <body>

    <section>
        <h1><u>ANSWERS Of CITRUS CRACKER</u></h1>

        <div class="levels">
            <div class="question">
                <video autoplay height="500px" width="auto" controls loop>
                    <source src="http://3.131.38.176:1234/videos/dancevid.mp4" type="video/mp4">
                </video>
            </div>
            <div class="answer">
                <h4>LEVEL 1</h4>
                <h4><u>Answer</u></h4>
                <h2>1615</h2>
                <h4><u>Explanation</u></h4>
                <p>Carefully watch hand of that boy and it could be easy for those who played hand cricket</p>
            </div>
            <br>
        </div>
        <hr>
        <div class="levels">
            <div class="question">
                <img src="http://3.131.38.176:1615/images/codepic.jpg" width="400px" alt="image" srcset="">
            </div>
            <div class="answer">
                <h4>LEVEL 2</h4>
                <h4><u>Answer</u></h4>
                <h2>8941</h2>
                <h4><u>Explanation</u></h4>
                <p>Braille Code</p>
            </div>
            <br>
        </div>
        <hr>
        <div class="levels">
            <div class="question">
                <video autoplay height="500px" width="auto" controls loop>
                    <source src="http://3.131.38.176:1234/videos/dancevid.mp4" type="video/mp4">
                </video>
            </div>
            <div class="answer">
                <h4>LEVEL 3</h4>
                <h4><u>Answer</u></h4>
                <h2>3352</h2>
                <h4><u>Explanation</u></h4>
                <p>Carefully watch hand of that boy and it could be easy for those who played hand cricket</p>
            </div>
            <br>
        </div>
        <hr>
        <div class="levels">
            <div class="question">
                <video autoplay height="500px" width="auto" controls loop>
                    <source src="http://3.131.38.176:1234/videos/dancevid.mp4" type="video/mp4">
                </video>
            </div>
            <div class="answer">
                <h4>LEVEL 4</h4>
                <h4><u>Answer</u></h4>
                <h2>7258</h2>
                <h4><u>Explanation</u></h4>
                <p>Carefully watch hand of that boy and it could be easy for those who played hand cricket</p>
            </div>
            <br>
        </div>
        <hr>
        <div class="levels">
            <div class="question">
                <video autoplay height="500px" width="auto" controls loop>
                    <source src="http://3.131.38.176:1234/videos/dancevid.mp4" type="video/mp4">
                </video>
            </div>
            <div class="answer">
                <h4>LEVEL 5</h4>
                <h4><u>Answer</u></h4>
                <h2>3118</h2>
                <h4><u>Explanation</u></h4>
                <p>Carefully watch hand of that boy and it could be easy for those who played hand cricket</p>
            </div>
            <br>
        </div>
        <hr>
        

    </section>

  </body>

</html>
