<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

     <form id="add-task" action="/find-my-lucky-number" method="POST">
           
      <h1><u>Find Your Dare Here</u></h1>
      <input type="email" name="mailid" placeholder="Enter your mail-id" required>

      <button type="submit" style="background-color: #005792;"> SUBMIT </button>

    </form>
    <br><hr>
    <div class="dares">
      <h1><u>HERE IS THE LIST OF DARES</u></h1>
      <h1>0. BALANCE IT OUT!</h1>
          <p>Like how thanos made the half of the world disappear with a single snap of his fingers to find balance, use yours to balance 3 pens on top of eachother.</p>

      <h1>1. BUILD A CASTLE</h1>
            <p>Building a castle out of a deck of cards must definitely be a part of everyone's childhood. Its time we put that random talent to use. Build a castle out of a deck of cards and send a picture as proof.</p>

      <h1>2. RAP MONSTER</h1>
              <p>Yogi B, Blaze, Hip Hop Tamizha, MC Sai, Eminem, and who knows even your name may add to this list! Pick a vintage old song and turn it into a rap and send us the audio file!</p>

      <h1>3. DOMINO STUNT / CONTRAPTION</h1>
              <p>Right from Apoorva sagotharargal to Mersal we always find awe in the complicated process that keeps us in the edge of our seats to know the outcome. Its your chance now to create one such mind blowing device! Create a contraption video out of the random things you find around and send us the video.</p>

      <h1>4. INNO FM</h1>
                <p>Atleast once in our life till now, we would have pretended to be a radio jockey in front of the mirror. Now is the time, that talent finds the deserving stage. Pretend you are the radio jockey of INNO FM and provide an attractive intro for it. Don't be shy and express all of yourself here.  Best of luck!</p>
      <h1>5. BALANCE IT OUT!</h1>
                <p>Like how thanos made the half of the world disappear with a single snap of his fingers to find balance, use yours to balance 3 pens on top of eachother.</p>

      <h1>6. BUILD A CASTLE</h1>
            <p>Building a castle out of a deck of cards must definitely be a part of everyone's childhood. Its time we put that random talent to use. Build a castle out of a deck of cards and send a picture as proof.</p>

      <h1>7. RAP MONSTER</h1>
              <p>Yogi B, Blaze, Hip Hop Tamizha, MC Sai, Eminem, and who knows even your name may add to this list! Pick a vintage old song and turn it into a rap and send us the audio file!</p>

      <h1>8. DOMINO STUNT / CONTRAPTION</h1>
              <p>Right from Apoorva sagotharargal to Mersal we always find awe in the complicated process that keeps us in the edge of our seats to know the outcome. Its your chance now to create one such mind blowing device! Create a contraption video out of the random things you find around and send us the video.</p>

      <h1>9. INNO FM</h1>
                <p>Atleast once in our life till now, we would have pretended to be a radio jockey in front of the mirror. Now is the time, that talent finds the deserving stage. Pretend you are the radio jockey of INNO FM and provide an attractive intro for it. Don't be shy and express all of yourself here.  Best of luck!</p>
    </div>


  </body>

</html>
