<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form id="add-task" action="/find-my-lucky-number" method="POST">
           
      <input type="email" width="100px" name="mailid" placeholder="Enter your email-id" required>

      <button type="submit" style="background-color: #005792;"> SUBMT </button>

    </form>

  </body>

</html>
