<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div>
        <div class="dares">

        <h1>Your Lucky Number is <%= ans %></h1>

        </div>
  

    <div class="dares">
      <h1><u>YOUR DARE</u></h1>

      <% if (ans==0) { %> 

      <h1>0. BALANCE IT OUT!</h1>
          <p>Like how thanos made the half of the world disappear with a single snap of his fingers to find balance, use yours to balance 3 pens on top of eachother.</p>
      <% } else if (ans==1) { %> 
        
      <h1>1. BUILD A CASTLE </h1>
            <p>Building a castle out of a deck of cards must definitely be a part of everyone's childhood. Its time we put that random talent to use. Build a castle out of a deck of cards and send a picture as proof.</p>
      <% } else if (ans==2) { %> 

      <h1>2. RAP MONSTER</h1>
              <p>Yogi B, Blaze, Hip Hop Tamizha, MC Sai, Eminem, and who knows even your name may add to this list! Pick a vintage old song and turn it into a rap and send us the audio file!</p>
      <% } else if (ans==3) { %> 

      <h1>3. DOMINO STUNT / CONTRAPTION</h1>
              <p>Right from Apoorva sagotharargal to Mersal we always find awe in the complicated process that keeps us in the edge of our seats to know the outcome. Its your chance now to create one such mind blowing device! Create a contraption video out of the random things you find around and send us the video.</p>
      <% } else if (ans==4) { %> 

      <h1>4. INNO FM</h1>
                <p>Atleast once in our life till now, we would have pretended to be a radio jockey in front of the mirror. Now is the time, that talent finds the deserving stage. Pretend you are the radio jockey of INNO FM and provide an attractive intro for it. Don't be shy and express all of yourself here.  Best of luck!</p>
      <% } else if (ans==5) { %> 
      
                <h1>5. BALANCE IT OUT!</h1>
                <p>Like how thanos made the half of the world disappear with a single snap of his fingers to find balance, use yours to balance 3 pens on top of eachother.</p>
      <% } else if (ans==6) { %> 

      <h1>6. BUILD A CASTLE</h1>
            <p>Building a castle out of a deck of cards must definitely be a part of everyone's childhood. Its time we put that random talent to use. Build a castle out of a deck of cards and send a picture as proof.</p>
      <% } else if (ans==7) { %> 

      <h1>7. RAP MONSTER</h1>
              <p>Yogi B, Blaze, Hip Hop Tamizha, MC Sai, Eminem, and who knows even your name may add to this list! Pick a vintage old song and turn it into a rap and send us the audio file!</p>
      <% } else if (ans==8) { %> 

      <h1>8. DOMINO STUNT / CONTRAPTION</h1>
              <p>Right from Apoorva sagotharargal to Mersal we always find awe in the complicated process that keeps us in the edge of our seats to know the outcome. Its your chance now to create one such mind blowing device! Create a contraption video out of the random things you find around and send us the video.</p>
      <% } else if (ans==9) { %> 

      <h1>9. INNO FM</h1>
                <p>Atleast once in our life till now, we would have pretended to be a radio jockey in front of the mirror. Now is the time, that talent finds the deserving stage. Pretend you are the radio jockey of INNO FM and provide an attractive intro for it. Don't be shy and express all of yourself here.  Best of luck!</p>
      <% } %> 
    
    <h3><a href="https://forms.gle/rqbDA7hfgqJ4iemX6">GForm Link to submit your dare proof</a></h3>


    </div>
    </div>
  </body>




</html>
