* {
  background-color: black;
  color: white;
  text-align: center;
}
body {
  margin: 0 10vw;
  width: 80vw;
  min-height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

a {
  color: #00b7ff;
}

form input, button {
  width: 300px;
  height: 30px;
  margin: 10px;
  font-size: 20px;
}

form button:hover {
  cursor: pointer;

}

.dares {
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
}